BOT_TOKEN = you_bot_token // https://discord.com/developers/applications
NAME_SPACE = you_name_space // This is for you to configure debugging to pass some necessary things to the registers. normally it is defined as "app", if you want to modify it go to package.json and in the script change the value of "set DEBUG=application". // https://github.com/debug-js/debug